body {
    background-image: url('/background.gif');
    background-size: 140%;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Averia Serif Libre', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    font-family: 'Averia Serif Libre', serif;
    font-size: 140%;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    padding: 5px 10px; /* Adiciona espaço ao redor do texto */
}

nav ul li a:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

nav ul li a.active {
    background-color: #777; /* Cor ao clicar */
    color: white; /* Cor do texto ao clicar */
}

main {
    padding: 20px;
    font-family: 'Averia Serif Libre', serif;
    font-size: large;
}

section {
    background-color: rgba(60, 60, 60, 0.90);
    padding: 2%;
    margin-bottom: 10px;
    color: white;
}

#apresentacao {
    margin-top: -2%;
}

#apresentacao #prod {
    margin-top: 5%;
    border-radius: 50%;
    border: 2px solid #ddd;
    width: 30%;
    height: auto;
}

#apresentacao h1 {
    margin: 5%;
    font-size: 240%;
}

#apresentacao h2 {
    margin: 3% 0% 3% 0%;
    font-size: 210%;
}

#apresentacao h3 {
    margin: 3% 0% 3% 0%;
    font-size: 180%;
}

#apresentacao h4 {
    margin-top: -5%;
    margin-bottom: 5%;
    font-size: 150%;
}

#apresentacao p {
    margin: 3% 3% 3% 3%;
    font-size: 120%;
}

#apresentacao #redes {
    background-color: rgba(40, 40, 40, 0.8);
    margin-top: 5%;
    border-radius: 10px;
}

#apresentacao .menu-section {
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
}

#apresentacao #tecnologias {
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
}

/* Configurações do rodapé *//* Configurações do rodapé *//* Configurações do rodapé */
footer {
    background-color: rgba(60, 60, 60, 0.90);
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-menu {
    flex: 1;
    margin: 0 20px;
}

.footer-menu h3 {
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    margin: 5px 0;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 20px;
}
/* Configurações do rodapé *//* Configurações do rodapé *//* Configurações do rodapé */

/* Configurações dos botões de midías sociais *//* Configurações dos botões de midías sociais *//* Configurações dos botões de midías sociais */
.social-icons {
    margin-top: 20px;
}

.social-icon {
    font-size: 40px; /* Tamanho do ícone */
    color: white; /* Cor dos ícones */
    margin: 0 15px; /* Espaçamento entre os ícones */
    text-decoration: none; /* Remove o sublinhado */
    transition: transform 0.3s; /* Transição suave */
}

.social-icon:hover {
    color: aqua;
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}

#web .w3-container .social-icons {
    margin-top: 20px;
}

#web .w3-container .social-icon {
    font-size: 40px; /* Tamanho do ícone */
    color: white; /* Cor dos ícones */
    margin: 0 15px; /* Espaçamento entre os ícones */
    text-decoration: none; /* Remove o sublinhado */
    transition: transform 0.3s; /* Transição suave */
}

#web .w3-container .social-icon:hover {
    color: aqua;
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}
/* Configurações dos botões de midías sociais *//* Configurações dos botões de midías sociais *//* Configurações dos botões de midías sociais */

/* Menu da pagina de apresentação *//* Menu da pagina de apresentação *//* Menu da pagina de apresentação */
.menu-section {
    text-align: center; /* Centraliza os elementos dentro da seção */
}

.menu-section h2 {
    margin: 0% 0% 3% 0%;
}

.menu {
    display: flex; /* Transforma a lista em um flex container */
    justify-content: center; /* Centraliza os itens dentro do container flex */
    list-style: none; /* Remove os marcadores de lista */
    padding: 0;
    margin: 0;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se necessário */
}

.menu li {
    margin: 0 10px; /* Adiciona margem entre os itens */
}

.menu a {
    display: flex; /* Para centralizar o conteúdo dentro do link */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    width: 150px; /* Largura fixa para todos os botões */
    height: 70px; /* Altura fixa para todos os botões */
    padding: 0; /* Remove o padding para manter a altura consistente */
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #fff;
    color: #333;
}
/* Menu da pagina de apresentação *//* Menu da pagina de apresentação *//* Menu da pagina de apresentação */

/* Menu de Tecnologias *//* Menu de Tecnologias *//* Menu de Tecnologias */
#tecnologias .social-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    margin-top: 20px; /* Espaçamento acima */
}

#tecnologias .social-icon {
    margin: 0 15px; /* Espaçamento entre os ícones */
    text-decoration: none; /* Remove o sublinhado */
    display: flex; /* Para centralizar o conteúdo */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    width: 100px; /* Largura fixa para todos os ícones */
    height: 100px; /* Altura fixa para todos os ícones */
    border-radius: 10px; /* Bordas arredondadas (opcional) */
    transition: transform 0.3s; /* Transição suave para o efeito de hover */
}

#tecnologias .social-icon:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
}

#tecnologias .tech-icon {
    width: 80px; /* Largura fixa para as imagens */
    height: 80px; /* Altura fixa para as imagens */
    object-fit: contain; /* Mantém a proporção da imagem */
}
/* Menu de Tecnologias *//* Menu de Tecnologias *//* Menu de Tecnologias */

/* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; /* Cor do WhatsApp */
    border-radius: 50%;
    margin: 0px 95px 0px 0px;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 1000;
}

.whatsapp-button img {
    width: 60px; /* Tamanho do ícone */
    height: 60px;
}
/* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp */

/* Media Queries para Responsividade *//* Media Queries para Responsividade *//* Media Queries para Responsividade */
@media (max-width: 1200px) {

    #apresentacao {
        margin-top: -3%;
    }

    #apresentacao img {
        width: 50%; /* Aumenta a largura da imagem em telas menores */
    }

    #apresentacao h1 {
        font-size: 300%; /* Reduz o tamanho da fonte do título */
    }

    #apresentacao p {
        font-size: 120%; /* Reduz o tamanho da fonte do parágrafo */
    }

    /* Menu da pagina de apresentação *//* Menu da pagina de apresentação */
    .menu {
        flex-direction: row; /* Mantém o layout em linha */
    }

    .menu a {
        width: 150px; /* Largura fixa para todos os botões */
        height: 70px;
    }
    /* Menu da pagina de apresentação *//* Menu da pagina de apresentação */

    /* Menu de Tecnologias *//* Menu de Tecnologias */
    #tecnologias .social-icon {
        width: 50px; /* Largura fixa para todos os ícones */
        height: 50px; /* Altura fixa para todos os ícones */
    }
    
    #tecnologias .tech-icon {
        width: 40px; /* Largura fixa para as imagens */
        height: 40px; /* Altura fixa para as imagens */
    }
    /* Menu de Tecnologias *//* Menu de Tecnologias */

    .footer-container {
        flex-direction: row; /* Mantém o layout em linha */
    }
}

@media (max-width: 992px) {
    nav ul li {
        margin-right: 15px; /* Reduz o espaço entre os itens do menu */
    }

    #apresentacao {
        margin-top: -5%;
    }

    #apresentacao img {
        width: 70%; /* Aumenta a largura da imagem em telas menores */
    }

    #apresentacao h1 {
        font-size: 250%; /* Reduz ainda mais o tamanho da fonte do título */
    }

    /* Menu da pagina de apresentação *//* Menu da pagina de apresentação */
    .menu {
        flex-direction: row; /* Mantém o layout em linha */
        flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se necessário */
    }
    
    .menu a {
        width: 150px; /* Largura fixa para todos os botões */
        height: 60px;
    }
    /* Menu da pagina de apresentação *//* Menu da pagina de apresentação */

    /* Menu de Tecnologias *//* Menu de Tecnologias */
    #tecnologias .social-icon {
        width: 45px; /* Largura fixa para todos os ícones */
        height: 45px; /* Altura fixa para todos os ícones */
    }
    
    #tecnologias .tech-icon {
        width: 36px; /* Largura fixa para as imagens */
        height: 36px; /* Altura fixa para as imagens */
    }
    /* Menu de Tecnologias *//* Menu de Tecnologias */

    .footer-container {
        flex-direction: row; /* Mantém o layout em linha */
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Muda a direção do menu para coluna */
        align-items: center
    }

    #apresentacao {
        margin-top: -6%;
    }

    /* Menu da pagina de apresentação *//* Menu da pagina de apresentação */
    .menu {
        flex-direction: column; /* Muda o layout para coluna */
        align-content: center;
    }

    .menu li {
        margin: 5px 0; /* Ajusta a margem entre os itens */
    }

    .menu a {
        padding: 10px; /* Ajusta o padding para telas menores */
        font-size: 14px; /* Ajusta o tamanho da fonte */
        width: 150px; /* Largura fixa para todos os botões */
        height: 55px;
    }
    /* Menu da pagina de apresentação *//* Menu da pagina de apresentação */

    /* Menu de Tecnologias *//* Menu de Tecnologias */
    #tecnologias .social-icon {
        width: 40px; /* Largura fixa para todos os ícones */
        height: 40px; /* Altura fixa para todos os ícones */
    }
    
    #tecnologias .tech-icon {
        width: 32px; /* Largura fixa para as imagens */
        height: 32px; /* Altura fixa para as imagens */
    }
    /* Menu de Tecnologias *//* Menu de Tecnologias */

    /* Configurações dos Music Players *//* Configurações dos Music Players */
    .player {
        width: 90%; /* O player ocupa 90% da largura da tela em dispositivos menores */
        margin: 10px auto; /* Centraliza o player */
    }
    /* Configurações dos Music Players *//* Configurações dos Music Players */

    .footer-menu {
        margin: 10px 0; /* Ajusta a margem entre os menus */
    }
}

@media (max-width: 480px) {

    #apresentacao {
        margin-top: -6%;
    }

    /* Menu da pagina de apresentação *//* Menu da pagina de apresentação */
    .menu a {
        padding: 8px; /* Ajusta o padding para telas muito pequenas */
        font-size: 12px; /* Ajusta o tamanho da fonte */
        width: 150px; /* Largura fixa para todos os botões */
        height: 50px;
    }
    /* Menu da pagina de apresentação *//* Menu da pagina de apresentação */

    /* Menu de Tecnologias *//* Menu de Tecnologias */
    #tecnologias .social-icon {
        width: 30px; /* Largura fixa para todos os ícones */
        height: 30px; /* Altura fixa para todos os ícones */
    }
    
    #tecnologias .tech-icon {
        width: 24px; /* Largura fixa para as imagens */
        height: 24px; /* Altura fixa para as imagens */
    }
    /* Menu de Tecnologias *//* Menu de Tecnologias */

    .footer-bottom {
        font-size: 10px; /* Ajusta o tamanho da fonte */
    }

    .footer-container {
        flex-direction: column; /* Muda o layout para coluna */
        align-items: center; /* Centraliza os itens */
    }

    .footer-menu {
        text-align: center;
    }
}
/* Media Queries para Responsividade *//* Media Queries para Responsividade *//* Media Queries para Responsividade */