body {
    background-image: url('/imgs/background.gif');
    background-size: 140%;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    font-family: 'Rakkas', sans-serif;
    font-size: 140%;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    padding: 5px 10px; /* Adiciona espaço ao redor do texto */
}

nav ul li a:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

nav ul li a.active {
    background-color: #777; /* Cor ao clicar */
    color: white; /* Cor do texto ao clicar */
}

main {
    padding: 20px;
    font-family: 'Rakkas', sans-serif;
    font-size: large;
}

section {
    background-color: rgba(60, 60, 60, 0.90);
    padding: 2%;
    margin-bottom: 10px;
    color: white;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

#apresentacao {
    margin-top: -6%;
}

#apresentacao img {
    margin-top: 5%;
    border-radius: 50%;
    border: 2px solid #ddd;
    width: 30%;
    height: auto;
}

#apresentacao h1 {
    margin: 5%;
    font-size: 400%;
}

#apresentacao p {
    font-size: 150%;
}

#apresentacao #redes {
    background-color: rgba(40, 40, 40, 0.8);
}

#musica h1 {
    margin-top: 3%;
}

#musica p {
    Margin: 0px 0px 30px 0px;
}

#design .imagens {
    background-color: rgba(40, 40, 40, 0.8);
    padding: 2% 2% 2% 2%;
    margin-bottom: 2%;
}

#design h1 {
    margin: 3%;
}

#design h2 {
    margin: 5% 0% 3% 0%;
}

#design h3 {
    margin-top: 2%;
}

#video .videos {
    background-color: rgba(40, 40, 40, 0.8);
    padding: 2% 2% 2% 2%;
    margin-bottom: 2%;
}

#video h1 {
    margin: 3%;
}

#video h2 {
    margin: 5% 0% 3% 0%;
}

#video h4 {
    margin: 0% 0% 2% 0%;
}

#web .projetoWeb {
    background-color: rgba(40, 40, 40, 0.8);
    padding: 2%;
    margin-bottom: 2%;
}

#web p {
    margin: 3% 0% 3% 0%;
}

#web h1 {
    margin: 3%;
}

#web h2 {
    margin: 2% 0% 3% 0%;
}

#web a {
    font-size: 160%;
    color: green;
}

#contato a {
    font-size: 200%;
    color: green;
}

/* Configurações dos botões de midías sociais *//* Configurações dos botões de midías sociais *//* Configurações dos botões de midías sociais */
.social-icons {
    margin-top: 20px;
}

.social-icon {
    font-size: 40px; /* Tamanho do ícone */
    color: white; /* Cor dos ícones */
    margin: 0 15px; /* Espaçamento entre os ícones */
    text-decoration: none; /* Remove o sublinhado */
    transition: transform 0.3s; /* Transição suave */
}

.social-icon:hover {
    color: aqua;
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}

#web .w3-container .social-icons {
    margin-top: 20px;
}

#web .w3-container .social-icon {
    font-size: 40px; /* Tamanho do ícone */
    color: white; /* Cor dos ícones */
    margin: 0 15px; /* Espaçamento entre os ícones */
    text-decoration: none; /* Remove o sublinhado */
    transition: transform 0.3s; /* Transição suave */
}

#web .w3-container .social-icon:hover {
    color: aqua;
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}
/* Configurações dos botões de midías sociais *//* Configurações dos botões de midías sociais *//* Configurações dos botões de midías sociais */

/* Configurações dos Music Players *//* Configurações dos Music Players *//* Configurações dos Music Players */
.player {
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px; /* Arredonda os cantos do player */
    background-color: rgba(40, 40, 40, 0.8); /* Fundo semi-transparente */
}
  
.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
  
.track-art {
    margin: 25px;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 10%;
}
  
.now-playing {
    font-size: 1rem;
}
  
.track-name {
    font-size: 3rem;
}
  
.track-artist {
    font-size: 1.5rem;
}
  
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Centraliza os botões */
    flex-wrap: wrap; /* Permite que os botões se movam para a linha seguinte em telas menores */
}
  
.playpause-track, .prev-track, .next-track {
    padding: 15px;
    opacity: 0.8;
    transition: opacity .2s;
}
  
.playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
}
  
.slider_container {
    width: 100%; /* Permite que o slider ocupe toda a largura disponível */
    max-width: 400px; /* Limita a largura máxima */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Adiciona margem vertical */
}
  
/* Modificar a aparência do controle deslizante */
.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
/* Modificar a aparência do controle deslizante */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
  
.seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
}
  
.seek_slider {
    width: 60%;
}
  
.volume_slider {
    width: 30%;
}
  
.current-time, .total-duration {
    padding: 10px;
}
  
i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
}
  
i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
}
/* Configurações dos Music Players *//* Configurações dos Music Players *//* Configurações dos Music Players */

/* Configurações dos Corouseis de Imagens *//* Configurações dos Corouseis de Imagens *//* Configurações dos Corouseis de Imagens */
.carousel-inner {
    min-height: 300px; /* Ajuste a altura mínima para dispositivos móveis */
    overflow: hidden; /* Garante que nada saia do contêiner */
}

.carousel-item img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    object-fit: contain; /* Ajusta a imagem para caber no contêiner sem cortar */
    object-position: center; /* Centraliza a imagem dentro do contêiner */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent; /* Remove o fundo */
    border: none; /* Remove a borda */
    filter: invert(1); /* Inverte a cor do ícone para branco (se necessário) */
}
/* Configurações dos Corouseis de Imagens *//* Configurações dos Corouseis de Imagens *//* Configurações dos Corouseis de Imagens */

/* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; /* Cor do WhatsApp */
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
}

.whatsapp-button img {
    width: 60px; /* Tamanho do ícone */
    height: 60px;
}
/* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp */

/* Media Queries para Responsividade *//* Media Queries para Responsividade *//* Media Queries para Responsividade */
@media (max-width: 1200px) {
    #apresentacao img {
        width: 50%; /* Aumenta a largura da imagem em telas menores */
    }

    #apresentacao h1 {
        font-size: 300%; /* Reduz o tamanho da fonte do título */
    }

    #apresentacao p {
        font-size: 120%; /* Reduz o tamanho da fonte do parágrafo */
    }

    #video iframe {
        width: 100%;
    }

    #web iframe {
        width: 100%;
    }

    .carousel-inner {
        min-height: 250px; /* Ajuste a altura mínima para dispositivos móveis */
    }

    .carousel-item img {
        padding: 0; /* Remove padding em telas menores */
        object-fit: cover; /* Cobre o contêiner sem distorcer a imagem */
    }
}

@media (max-width: 992px) {
    nav ul li {
        margin-right: 15px; /* Reduz o espaço entre os itens do menu */
    }

    #apresentacao img {
        width: 70%; /* Aumenta a largura da imagem em telas menores */
    }

    #apresentacao h1 {
        font-size: 250%; /* Reduz ainda mais o tamanho da fonte do título */
    }

    #video iframe {
        width: 100%;
    }

    #web iframe {
        width: 100%;
    }

    .carousel-inner {
        min-height: 200px; /* Ajuste a altura mínima para dispositivos móveis */
    }

    .carousel-item img {
        padding: 0; /* Remove padding em telas menores */
        object-fit: cover; /* Cobre o contêiner sem distorcer a imagem */
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Muda a direção do menu para coluna */
        align-items: center
    }

    #video iframe {
        width: 100%;
    }

    #web iframe {
        width: 100%;
    }

    .player {
        width: 90%; /* O player ocupa 90% da largura da tela em dispositivos menores */
        margin: 10px auto; /* Centraliza o player */
    }

    .carousel-inner {
        min-height: 150px; /* Ajuste a altura mínima para dispositivos móveis */
    }

    .carousel-item img {
        padding: 0; /* Remove padding em telas menores */
        object-fit: cover; /* Cobre o contêiner sem distorcer a imagem */
    }
}

@media (max-width: 480px) {

    #video iframe {
        width: 100%;
    }

    #web iframe {
        width: 100%;
    }

    .track-name {
        font-size: 2rem; /* Reduz o tamanho do nome da faixa */
    }

    .track-artist {
        font-size: 1.2rem; /* Reduz o tamanho do artista */
    }

    .carousel-inner {
        min-height: 120px; /* Ajuste a altura mínima para dispositivos móveis */
    }

    .carousel-item img {
        padding: 0; /* Remove padding em telas menores */
        object-fit: cover; /* Cobre o contêiner sem distorcer a imagem */
    }
}
/* Media Queries para Responsividade *//* Media Queries para Responsividade *//* Media Queries para Responsividade */