body {
    background-image: url('/background.gif');
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Averia Serif Libre', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    font-family: 'Averia Serif Libre', serif;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    padding: 5px 10px; /* Adiciona espaço ao redor do texto */
}

nav ul li a:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

nav ul li a.active {
    background-color: #777; /* Cor ao clicar */
    color: white; /* Cor do texto ao clicar */
}

main {
    padding: 20px;
    font-family: 'Averia Serif Libre', serif;
    font-size: large;
}

section {
    background-color: rgba(40, 40, 40, 0.6);
    padding: 2%;
    margin-bottom: 10px;
    color: white;
}
section button {
    background-color: rgba(40, 40, 40, 0.8);
    padding: 2%;
    margin-bottom: 10px;
    color: white;
}

section button:hover {
    background-color: rgba(60, 60, 60, 0.90);
}

#contato {
    background-color: rgba(60, 60, 60, 0.90);
    padding: 2%;
    margin-bottom: 10px;
    color: white;
    margin-top: -2%;
}

#contato a {
    font-size: 200%;
    color: green;
}

#contato h1 {
    margin: 3% 0% 3% 0%;
    font-size: 240%;
}

#contato h2 {
    margin: 3% 0% 3% 0%;
    font-size: 210%;
}

#contato h3 {
    margin: 3% 0% 3% 0%;
    font-size: 180%;
}

#contato h4 {
    font-size: 150%;
}

#contato p {
    font-size: 120%;
    margin: 3% 3% 3% 3%;
}

#chatling-inline-bot {
    margin: 0px 0px 0px 0px;
}

/* Configurações do rodapé *//* Configurações do rodapé *//* Configurações do rodapé */
footer {
    background-color: rgba(60, 60, 60, 0.90);
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-menu {
    flex: 1;
    margin: 0 20px;
}

.footer-menu h3 {
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    margin: 5px 0;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-menu a:hover {
    color: #10B1B9;
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 20px;
}
/* Configurações do rodapé *//* Configurações do rodapé *//* Configurações do rodapé */

/* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; /* Cor do WhatsApp */
    border-radius: 50%;
    margin: 0px 95px 0px 0px;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 1000;
}

.whatsapp-button img {
    width: 60px; /* Tamanho do ícone */
    height: 60px;
}
/* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp *//* Configurações do Botão de WhatsApp */

/* Media Queries para Responsividade *//* Media Queries para Responsividade *//* Media Queries para Responsividade */
@media (max-width: 1200px) {

    #contato {
        margin-top: -3%;
    }
}

@media (max-width: 992px) {
    nav ul li {
        margin-right: 15px; /* Reduz o espaço entre os itens do menu */
    }

    #contato {
        margin-top: -5%;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Muda a direção do menu para coluna */
        align-items: center
    }

    #contato {
        margin-top: -6%;
    }
}

@media (max-width: 480px) {

    #contato {
        margin-top: -6%;
    }
}
/* Media Queries para Responsividade *//* Media Queries para Responsividade *//* Media Queries para Responsividade */